* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #160537;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

#logo {
  font-size: 1rem;
  font-weight: bold;
}

#logo span {
  color: #a955f8;
}

#header {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #160537, #190747, #1e0658, #230469, #28007b);
}

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .4rem;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: #fff;
  }

  #hamburguer::after, #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #menu {
    display: block;
    position: absolute;
    background: linear-gradient(to right, #160537, #190747, #1e0658, #230469, #28007b);
    width: 100%;
    top: 70px;
    right: 0;
    z-index: 1;
    height: 0;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden ;
  }

  #nav.active #menu {
    display: block;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }
}